.basicChart{
    margin: auto;
    width: 35%;
    box-sizing: border-box;
    padding: 10px;

}
.basicChart h1{
    text-align: left;
}

.pressure{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    text-align: left;

}
.pressure div{
    width: 45%;
    background-color: #dcf0fe;
    padding: 10px 20px;
    box-sizing: border-box;
    

}
.pressure div p{
   margin: 0;


}


@media only screen and (max-width: 600px) {
    
    .basicChart{
        width: 90%;
    }

  }