.fiveday{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 3px;
    align-items: center;
    box-shadow: 1px 1px 7px 0px rgb(198, 194, 194) ;
    box-sizing: border-box;
    border-radius: 5px;
}

.fiveday div{
    width: 90px;
    text-align: center;
    font-weight: 600;
    padding: 4px;
    box-sizing: border-box;

}
.fiveday div p{
  margin: 0;

}
.fiveday div img{
    width: 30px;
    height: 30px;
    padding: 5px;

}


@media only screen and (max-width: 600px) {
    
    .fiveday{
        width: 90%;
    }

  }