.search{
    width: 35%;
    margin: 15px auto;
    position: relative;
    
}
.search input{
    padding:0 50px;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    height: 55px;
    box-sizing: border-box;
    border: none;
    border-radius: 7px;
    box-shadow: 1px 1px 7px 0px rgb(198, 194, 194) ;
}
#pin{
    position: absolute;
    top: 16px;
    left: 15px;
    width: 22px;
}
#searchimg{
    position: absolute;
    top: 16px;
    right: 20px;
    width: 22px;
}


@media only screen and (max-width: 600px) {
    
    .search{
        width: 90%;
    }

  }