.search {
    width: 50%;
    margin: 15px auto;
    position: relative;

}
.search>div{
    /* background-color: green; */
    box-shadow: 1px 1px 7px 0px rgb(198, 194, 194);
    border-radius: 5px;

}

/* .search input {
    font-weight: 600 !important;
    margin-bottom: 5px;
    box-sizing: border-box;
    border: none;   
    border-radius: 7px;
} */

#pin {
    position: absolute;
    top: 13px;
    left: 15px;
    width: 20px;
}

#searchimg {
    position: absolute;
    top: 16px;
    right: 20px;
    width: 22px;
}



/* async paginate style */
.css-tlfecz-indicatorContainer {
    background-color: green;
    display: none !important;
    
}

.css-319lph-ValueContainer {
    padding: 0 40px !important;
    height: 45px !important;
   
}

.css-1okebmr-indicatorSeparator {
    display: none;
   
}

.css-14el2xx-placeholder {
    font-weight: 600 !important; 
    color: hsl(0deg 2% 38%) !important;

}

.css-1d8n9bt {
   
    padding: 2px 43px !important;
    
}


/* async paginate style */

.autoComplete {
    display: flex;
    flex-direction: column;
    row-gap: 3px;

}

.autoComplete h4 {
    margin: 0;
    /* border: 1px solid black; */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 7px 0px rgb(198, 194, 194);


}
.endComplete{
    display: none;
}


@media only screen and (max-width: 600px) {

    .search {
        width: 90%;
    }

}